* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 245, 239);
}

h1 {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 3em;
}

main {
  display: grid;
}

.toDo {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
}

article {
  border: 1px solid black;
  width: 100%;
  height: 100vw;
  padding: 10px;
  box-shadow: -1px 9px 41px -4px rgba(0, 0, 0, 0.75);
  background-color: rgb(250, 228, 232);
  font-family: "Indie Flower", cursive;
}

form {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 2px;
  border-style: none;
  height: 25px;
}

label {
  width: 10vw;
  margin: 0 auto;
}

article:nth-child(odd) {
  background-color: rgb(210, 231, 238);
}
.titel {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.beskrivelse {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.deadline {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.slet {
  border: 1.5px solid black;
  height: 13vw;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  padding-left: 100px;
}

.slet:hover {
  background-color: lightgray;
  border: 1.5px solid lightgray;
  color: black;
}

input:focus {
  outline: 1px solid black;
}

input:not(:focus) {
  background-color: rgb(241, 239, 239);
  border: 1px solid black;
}

input:required:valid {
  border: 1.5px solid green;
}

input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  height: 25px;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}

input:invalid:focus {
  outline: 1px solid red;
}

input:valid:focus {
  outline: 1px solid green;
}

input:valid + span::after {
  content: "✓";
  margin-left: 5px;
}

div {
  display: flex;
}

input[type="date"] {
  display: inline;
}

@media screen and (min-width: 627px) {
  .toDo {
    grid-template-columns: 1fr 1fr;
  }

  article {
    height: 50vw;
  }

  .slet {
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .slet {
    padding-left: 140px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    padding: 10px;
    padding-left: 40px;
    padding-top: 45px;
  }

  main {
    display: flex;
    justify-content: space-evenly;
  }

  article {
    width: 30vw;
    height: 30vw;
  }

  .slet {
    padding-left: 110px;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 22vw;
    height: 22vw;
    padding-top: 30px;
  }

  article {
    width: 22vw;
    height: 22vw;
  }

  .slet {
    padding-left: 90px;
  }

  .toDo {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1500px) {
  .slet {
    padding-left: 110px;
  }

  form {
    width: 20vw;
    height: 20vw;
    padding-top: 50px;
  }

  article {
    width: 20vw;
    height: 20vw;
  }
}
